* {
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: 20px;
}

.product {
  align-items: center;
  height: 200px;
  width: 600px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  border: 2px solid black;
  &__img {
    height: 150px;
    margin-left: 10px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
