*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

img
  {
  width: 100%;
  height: 100%;
  object-fit: contain;
  }
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    max-width: 1140px;
  }

.conteiner{
    border: 1px solid gray;
    display: flex;
    height: 600px;
    position: relative;
}
.button_rigth{
    background: grey;
    width: 5%;
    z-index: 1;
}
.button_rigth :hover{
    background: rgb(116, 116, 116);
}
.button_left{
    background: grey;
    width: 5%;
    z-index: 1;
}
.button_left :hover{
    background: rgb(116, 116, 116);
}

.img_main{
    width: 90%; 
    z-index: 0;
    
}
.disactive{
    display: none;
}
.point_conteiner{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
}
.point{
    border-radius: 50%;
    background-color: black;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border: 1px solid black;
}

.point_active{
    border: 1px solid red;
}



