*{
    padding: 0;
    margin: 0;
}
.form{
    margin: 15px 10px;
}
.productEl{
    margin: 15px 15px;
    border-top: 1px solid gray;
}
.review{
    margin-top: 5px;
}
.error{
    height: 1rem;
    margin-left: 15px;
    color: red;
}
.review1{
    margin-left: 15px;
    margin-top: 15px;   
}