* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.play {
}
.play_img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.pause {
}
.pause_img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-left: 10px;
}
.conteiner {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.video {
  width: 400px;
  height: 246px;
}
