* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.play {
  //   background-image: url(img/play.png);
  background: url(img/play.svg);
  width: 100px;
  height: 100px;
}
.pause {
  background-image: url(img/Pause.png);
  width: 100px;
  height: 100px;
}
// .conteiner {
//   width: 400px;
//   height: 400px;
// }
.video {
  width: 400px;
  height: 400px;
}
